
.fadeoutFast {
    animation: fadeout 1s;
    animation-iteration-count: infinite;
}

.FormBox {
    width: 25rem;
    height: 18rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: gray;
    box-shadow: 1rem;
}

.noListStyle {
    list-style: none;
}

.noPaddingMargin {
    padding: 0;
    margin: 0;
}

.taskBodyMinLength {
    min-height: 5rem;
    max-height: 5rem;
    overflow-y: scroll;
}

.taskBodyMinLength > tr {
    display: table !important;
}

.DashboardGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% auto;
    grid-template-rows: 30% auto;
    overflow-y: scroll;
    column-gap: 1vw;
    row-gap: 1vh;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}

.textAlignCenter {
    text-align: center !important;
}

.bgGreen {
    background-color: green !important;
}

.h-100 {
    height: 100%;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 700px) {
    .DashboardGrid {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}